<!DOCTYPE html>
<html>
    <head>
        <%- include("../partials/head"); %>
    </head>
    <body>
        <header>
            <%- include("../partials/header"); %>
        </header>
        <main class="liquid-glass">
            <header>
                <h2> <%= projectName %> </h2>
                <button onclick="document.location='/'">🏠</button>
                <button onclick="document.location='/project?project=<%=projectName%>'">🔙</button>
            </header>
            <section class="liquid-glass">
                <article>
                    <h3> <%= lang.userstories.title %></h3>
                    <button onclick="document.location='/whiteBoardProductBacklog?project=<%=projectName%>';">📋</button>
                    <button onclick="document.location='/createStory?project=<%=projectName%>'">+</button>
                </article>
                <% if (userstories.length > 0) { %>
                    <% for (let story of userstories) { %>
                        <article class="liquid-glass">
                            <div style="margin-bottom: 15px;">
                                <p><b> <%= story.title %> </b></p>
                                <p><i> <%= story.description %> </i></p>
                            </div>
                            <div">
                                <button onclick="document.location = '/deleteStory?project=<%=projectName%>&id=<%=story.id%>';">🗑️</button>
                                <button onclick="document.location = '/editStory?project=<%=projectName%>&id=<%=story.id%>';">📝</button>
                            </div>
                        </article>
                    <% } %>
                    </article>
                <% } else { %>
                    <p> <%= lang.userstories.none %> </p>
                <% } %>
            </section>
        </main>
        <footer>
            <%- include("../partials/footer"); %>
        </footer>
    </body>
</html>